
 /*DIGITAL CLOCK FONT*/
@font-face{
  font-family:'digital-7';
  src: url('../fonts/digital-7.ttf');
 }
 
 * {
   margin: 0;
   padding: 0;
 }

 main {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  font-family: 'digital-7', sans-serif;
 }
 
 nav {
  background: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
 }

 nav button {
   flex: 1;
   height: 50px;
   background: transparent;
   border: none;
   border-left:1px solid #242424;
 }

 nav button:hover {
   cursor: pointer;
 }

 nav button:first-of-type {
   flex: 3;
   border-left: none;
 }

 .main_clock {
  padding: 30px;
  background-color: #242424;
  border-radius: 10px 10px 0 0;
}

::ng-deep .list div.clock div p {
  font-size: 40px!important;
}