<div class="wrapper">
	<main>
		<div class="main_clock">
			<clock [time]="time" [settings]="mainClockSettings"></clock>
		</div>		
		<nav>
				<button id="playBtn">
						<i [ngClass]="{'fa-pause':runningStatus, 'fa-play':!runningStatus}" class="fa"></i>
					<span [innerHTML]="runningStatus?'Pause':'Play'"></span>
				</button>
				
				<button (click)="save()"><i class="fas fa-stopwatch"></i></button>
				<button (click)="stopTimer()"><i class="fa fa-trash"></i></button>
		</nav>

		<list-item [listTime]="listTime" (remove)="removeFromList($event)"></list-item>
	</main>
</div>

